extends placeholders/header.pug
block content
  if isAuth
    link(rel="stylesheet", href="/stylesheets/editAccount.css")
    .container
      aside.sidebarDisplayed
        #page-content-wrapper
          .container-fluid
            .pageheader
              h2 Personal Info
              hr
              .row
                .col-md-9.personal-info
                  form#uploadForm.form-horizontal(role='form')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    .form-group
                      .text-center
                        img.avatar.img-circle(src=userData.image, alt='avatar')
                        h6 Upload profile photo...
                        input.form-control.file-button(type='file', name='pic_upload')
                  form#updateForm.form-horizontal(role='form')
                    .form-group
                      label.col-lg-3.control-label * First name:
                      .col-lg-8
                        input.form-control(type='text', name='first_name', value=userData.firstname)
                    .form-group
                      label.col-lg-3.control-label * Last name:
                      .col-lg-8
                        input.form-control(type='text', name='last_name', value=userData.lastname)
                    .form-group
                      label.col-lg-3.control-label Email:
                      .col-lg-8
                        input.form-control(type='text', value=userData.email, readonly)
                    .form-group
                      label.col-md-3.control-label * Current Password:
                      .col-md-8
                        input.form-control(type='password', name='current_password', placeholder='Enter your password', auto-complete='new-password')
                    .form-group
                      label#updateCheckbox.col-md-6.control-label
                        input(type='checkbox', name="pass_checkbox")
                        |  Update Password
                    #updatePassDiv.update-password
                      .alert.alert-info.alert-dismissable
                        a.panel-close.close(data-dismiss='alert') ×
                        i.fa.fa-bell
                        |     Please
                        strong  uncheck checkbox 
                        |    if you do not want to update your password.
                      .form-group
                        label.col-md-3.control-label * New Password:
                        .col-md-8
                          input#new_pass.form-control(type='password', name='new_pass', auto-complete='new-password')
                      .form-group
                        label.col-md-3.control-label * Confirm password:
                        .col-md-8
                          input.form-control(type='password', name='confirm_new_pass', auto-complete='new-password')
                    .form-group
                      label.col-md-3.control-label
                      .col-md-8.edit-footer
                        input#saveBtn.btn.btn-primary(type='button', value='Save Changes')
                        input.btn.btn-default(style='margin-left: 1em', type='reset', value='Cancel')
    hr  
    script(src="/javascripts/editAccount.js")