mixin event-panel(collapseNum, name, locationName, locationAddress, sportType, url)
  .panel.panel-default
    .panel-heading.container-fluid
      .row
        h5.panel-title
          .col-md-4
            a(data-toggle="collapse", data-parent="#accordion", href= '#' + collapseNum)
              span= name
          .col-md-6
            span Status: Completed
          div#participants.col-md-2.text-right
            abbr(title="Participants") 
              <i class="fa fa-user"> 1/10  </i>
    div.panel-collapse.collapse(id=collapseNum)
      .panel-body
        p= 'Location: ' + locationName
        p= 'Address: '  + locationAddress
        p= 'Sport: ' + sportType
        p Date
        button.btn.btn-default(type="button") 
          a(href=url) join event room