mixin event-panel(collapseNum, teamupName, from, to, sport, maxPlayers, locationName, locationAddress, url)
  .panel.panel-default
    .panel-heading.container-fluid
      .row
        h5.panel-title
          .col-md-4
            a(data-toggle="collapse", href= '#' + collapseNum)
              span= teamupName
          .col-md-6
            span#status
          div#participants.col-md-2.text-right
            abbr(title="Participants")
              i.fa.fa-user
                p= '1/' + maxPlayers
    div.panel-collapse.collapse.in(id=collapseNum)
      .panel-body
        p= 'From: ' + from
        p= 'To: ' + to
        p= 'Sport: ' + sport
        p= 'Location: ' + locationName
        p= 'Address: '  + locationAddress
        div
          a.btn.btn-default(role="button", href=url) Join chat
